<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.post_reply_demo.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.proj.post_reply_demo.model.domain.Post">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="photo" column="photo" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, content, photo, user_id, create_time, update_time, is_delete
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post (content, photo, user_id, create_time, update_time, is_delete)
        VALUES (#{content}, #{photo}, #{userId}, #{createTime}, #{updateTime}, #{isDelete})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM post
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM post
    </select>

    <select id="selectPostsByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM post
        WHERE user_id = #{userId}
    </select>

    <update id="updateById">
        UPDATE post
        SET content = #{content}, photo = #{photo},
            user_id = #{userId}, create_time = #{createTime}, update_time = #{updateTime}, is_delete = #{isDelete}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM post WHERE id = #{id}
    </delete>
</mapper>
